.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 115px;
  justify-content: center;
}

.photo-card {
  flex: 1 20%;
  max-width: 25%;
  transition: transform var(--tm) var(--cubic);

  &:hover {
    transform: scale(1.05);
  }
}

.info {
  display: flex;
  gap: 15px;
  justify-content: center;
  background-color: var(--active-color);
  border-radius: 0 0 5px 5px;
  cursor: pointer;
}

.info-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
