.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: var(--header-color);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

.header-container {
  display: flex;
  align-items: center;
}
.set-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

.filter {
  display: flex;
  flex-direction: column;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin-right: 50px;
}

input {
  padding-left: 15px;
  background-color: var(--background-color);
  outline: none;
  border-style: none;
  border-radius: 5px;
  transition: color var(--tm) var(--cubic),
    background-color var(--tm) var(--cubic), box-shadow var(--tm) var(--cubic);

  &:hover,
  &:focus {
    color: var(--text-color);
    background-color: var(--active-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

input[type='checkbox'] {
  /* change "blue" browser chrome to "..." */
  filter: hue-rotate(340deg) brightness(1.7);
}

input[name='per_page'] {
  width: 5ch;
  font-size: 18px;
}

input[name='searchQuery'] {
  width: 400px;
  height: 40px;
  font-size: 25px;
  font-weight: 500;
  margin-right: 15px;
}
